.footer {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 30px 0px 30px 0px;
}
.footer img {
    width: 120px;
    height: 40px;
}
.footer p {
    padding: 10px 0;
    color: #fff;
    font-weight: 500;
}
@media (max-width: 450px) {

}
@media (max-width: 350px) {}